[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kiransd
[access "refs/for/refs/*"]
	read = group user/kiransd
	push = group user/kiransd
	label-Code-Review = -2..+2 group user/kiransd
	label-Verified = -1..+1 group user/kiransd
	rebase = group user/kiransd
	removeReviewer = group user/kiransd
	submit = group user/kiransd
[access "refs/heads/*"]
	read = group user/kiransd
	create = group user/kiransd
	push = +force group user/kiransd
	pushMerge = group user/kiransd
[access "refs/tags/*"]
	push = +force group user/kiransd
	pushTag = group user/kiransd
	pushSignedTag = group user/kiransd
